.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 45vh;
    left: 45vw;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid transparent;
    border-bottom: 4px solid #ffffff;
    animation: rotation 0.5s linear infinite reverse;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sample-backdrop {
    background-color: var(--antidote-blue-primary);
    background-image: url("/antidote_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    z-index: 999;
}

.heightWeight{
    padding: 1rem;
    width: 50%;
    margin: auto;

    &__button{
        width: 100%;
    }

}

.label{
    flex-grow: none;
}

.fieldBody{
    display: flex;
    flex-direction: column;
    padding: none;
}

.field-body{
    padding: 0.75rem;
}

.button{
    margin-top: 1rem;
}

.field{
    padding: 1rem;
}
