

.range-indicator {
    height: 100%;
    background-color: #1fad50;
}

.transform {
    transform: translateX(-50%)
}

.centered-div {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.yellow {
    background-color: #ffd119;
}

.centeredContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
}
// .range-bar {
//     width: 100%;
//     height: 20px;
//     background-color: grey;
//     display: flex;               /* added */
//     justify-content: center;    /* added */
//     align-items: center;
// }

// .range-container {
//     position: relative;
//     width: 100%;
//     height: 30px;  /* Adjust based on your needs */
// }

// .arrow-indicator {
//     position: absolute;
//     bottom: 20px;  /* Adjust to position the arrow below the range bar */
//     transform: translateX(-50%); /* Center the arrow at its position */
// }
