

.DoctorImage {
    border-radius: 12px;
}

.MessagingIcon{
    border-radius: 50%;
}

.border {
    border: 1px solid !important;
}

.button-container {
    box-sizing: border-box;
    padding: 0.75em;
}

.button-container2 button {
    flex-grow: 1;
    box-sizing: border-box;
}

.width {
    width: 30%;
}

@media (max-width: 768px) {
    .mobile-flex-wrap {
        flex-wrap: wrap !important;
    }
    .mobile-border-top {
        border-top: 1px solid #F0F0F0; /* Adjust color as needed */
    }
    .centerDiv {
        display: flex !important;
        justify-content: center !important;
    }
    .centerText {
        text-align: center !important;
    }
    .columnStyle {
        flex-direction: column !important;
    }
    .mobile-center-image {
        display: flex !important;
        justify-content: center !important;
        width: 100% !important;
    }
    .mobile-center-content {
        justify-content: center !important;
        width : 50% !important;
    }
    .imageResizing {
        width: 80px !important; /* Adjust to your desired size */
        height: 90px !important; /* Adjust to your desired size */
    }
    .mobile-center-items {
        display: flex !important;
        justify-content: space-between !important;
        margin:auto !important;
    }
}
