//@import "~bulma-calendar";

.button-styling {
    margin: auto;
    width: 50%;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.DoctorImage {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
